{
	"printWidth": 90,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": ["^@/(.*)$", "^[./]"]
}
