{
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": false,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": ["^@/(.*)$", "^[./]"],
	"importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
